@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

body{
    font-family: 'Poppins',sans-serif;
    font-size: 1rem;
    line-height: 1.4;
    background-color: #263640;
}

.head{
    text-align: center;
    color: white;
}

form{
    background: #358C74;
    box-shadow: 2px 2px 5px black;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 25px;
    color: white;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

fieldset {
    border: 0;
}

.campo{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.campo-grupo1{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
}

label{
    font-size: 1.125rem;
}

.grupo1 label{
    margin-left: 1rem;
}
input, select, textarea, button {
    border-radius: 5px;
    margin-top: 0.5rem;
}

.grupo1{
    max-width: 100%;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}
.grupo1 input{
    border: 1px solid  #BFBCBA;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    margin-left: 1rem;
    margin-right: 1rem;
    height: 30px;
    width: 220px;
}

#opcoes{
    text-align: left;
    margin-left: 2rem;
}

#senior{
    margin-left: 2rem;
}
#dropdown{
    margin-left: 20px;
    text-align: center;
    height: 30px;
    width: 90px;
}
#dropdown:hover{
    background: #17BF82;
}

option{
    text-align: center;
}

.grupo2{
    margin-left: 1.25rem;
}

#experiencia{
    text-align: left;
    height: 90px;
    width: 400px;
}
#exp{
    align-self: center;
    text-align: center;
}

.botao{
    border: 0;
    background: #263640;
    color: white;
    height: 2.5rem;
    width: 8rem;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    align-self: center;
    margin-top: 60px;
}

.botao:hover{
    background-color: #17BF82;
}

.botao, select, .grupo2 input, #opcoes input{
    cursor: pointer;
}

@media (max-width: 665px){
    .head{
        font-size: 1.4rem;
    }
    form{
        margin: 10px;
        font-size: 1.125rem;
    }
    #experiencia{
        width: 250px;
    }
    .botao{
        margin-top: 60px;
    }
}


